@charset "UTF-8";


h1{
    text-align: center;
    color: white;
    background-color: black;
}


h2{
    text-align: center;
    color: white;
    background-color: black;
}

p{
    text-align: center;
}

main img{

    max-width: 350px;
    display: block;
    margin: auto;
}

main table{

    align: center;
}

main a:visited{

   color: red;
}

main a:hover {

    background-color: beige;
}

footer{

    color: white;
    background-color: orange;
}

a{
    color: blue;
}
